/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: bolder;
}

h1, a {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#inicio, #secciones {
    background-image: url(../imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* NAV */ 
.sub-nav {
    width: auto;
}

.mobile {
    display: none;
}

.logo {
    width: 100px;
    height: auto;
}

.margin-top {
    margin-top: 28px;
}

.nav-link {
    font-size: 1.1rem;
}

.nav-link:hover {
    color: rgb(99, 19, 102)!important;
}

/* HERO */
#inicio {
    height: 35rem;
}

#secciones {
    height: 25rem;
}

.header {
    height: calc(100% - 97px);
}

.header h3 {
    color: rgb(99, 19, 102);
    animation: fadeInLeft;
    animation-duration: 2s;
}

/* Inicio */
.h1 {
    font-size: 3rem;
}

.accordion-button:not(.collapsed) {
    color: rgb(99, 19, 102);
    background-color: #86868673;
}

/* Tatuajes y Barbería */
.galeria div {
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.galeria div:hover {
    border: 5px solid rgb(255, 255, 255);
}

.barberia-1 {
    background-image: url(../imagenes/barberia1.jpg);
}

.barberia-2 {
    background-image: url(../imagenes/barberia2.jpg);
}

.barberia-3 {
    background-image: url(../imagenes/barberia3.jpg);
}

.barberia-4 {
    background-image: url(../imagenes/barberia4.jpg);
}

.barberia-5 {
    background-image: url(../imagenes/barberia5.jpg);
}

.barberia-6 {
    background-image: url(../imagenes/barberia6.jpg);
}

.barberia-7 {
    background-image: url(../imagenes/barberia7.jpg);
}

.barberia-8{
    background-image: url(../imagenes/barberia8.jpg);
}

.barberia-9 {
    background-image: url(../imagenes/barberia9.jpg);
}

.barberia-10 {
    background-image: url(../imagenes/barberia10.jpg);
}

.barberia-11 {
    background-image: url(../imagenes/barberia11.jpg);
}

.barberia-12 {
    background-image: url(../imagenes/barberia12.jpg);
}

.tatuajes-1 {
    background-image: url(../imagenes/tattoo1.png);
}

.tatuajes-2 {
    background-image: url(../imagenes/tattoo2.png);
}

.tatuajes-3 {
    background-image: url(../imagenes/tattoo3.png);
}

.tatuajes-4 {
    background-image: url(../imagenes/tattoo4.png);
}

.tatuajes-5 {
    background-image: url(../imagenes/tattoo5.png);
}

.tatuajes-6 {
    background-image: url(../imagenes/tattoo6.png);
}

.tatuajes-7 {
    background-image: url(../imagenes/tattoo7.png);
}

.tatuajes-8 {
    background-image: url(../imagenes/tattoo8.png);
}

.tatuajes-9 {
    background-image: url(../imagenes/tattoo9.png);
}

.tatuajes-10 {
    background-image: url(../imagenes/tattoo10.png);
}

.tatuajes-11 {
    background-image: url(../imagenes/tattoo11.png);
}

.tatuajes-12 {
    background-image: url(../imagenes/tattoo12.png);
}

/* Sobre Mí y Contacto*/
.sobreMi p, .seccion-contacto p {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

.form {
    height: 450px;
}

.form .btn {
    border-color: rgb(99, 19, 102);
}

/* FOOTER */
.footer, .footer .contacto a {
    color: rgb(255, 255, 255);
}

.footer h4 {
    font-size: 1.25rem;
}

.footer p {
    margin: 0;
}

.btn {
    background-color: #fff;
    color: rgb(99, 19, 102);
    border-radius: 15px;
}

.btn:hover {
    background-color: rgb(99, 19, 102);
    color: #fff;
}

.contacto div ul li a:hover {
    color: rgb(99, 19, 102);
}

.rrss {
    width: 25px;
}

/* MEDIA QUERIES */
@media (max-width: 1199.98px) {

    /* Tatuajes y Barbería */
    .galeria {
        justify-content: space-evenly!important;
    }

    .sobreMi {
        margin-bottom: 80px;
    }

    /* Contacto */
    iframe {
        width: 100%;
    }

    /* FOOTER */
    .footer section{
        margin-bottom: 50px;
    }

}
@media (max-width: 767.98px) {

    .sub-nav {
        width: 100%;
    }

    .mobile {
        display: block;
    }

    .margin-top {
        margin-top: 20px;
    }

    .ocultar-mobile {
        display: none;
    }

    /* Tatuajes y Barbería */
    .galeria {
        justify-content: center!important;
    }
}