* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

h1, a {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.inicio {
    @include sizes(auto, 35rem);
    background-image: url(../imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.secciones {
    @extend .inicio;
    @include sizes(auto, 25rem);
}

.btn {
    background-color: $blanco;
    color: $violeta;
    border-radius: 15px;
    &:hover {
        color: $blanco;
        background-color: $violeta;
    }
}
