/* NAV */
.navbar {
    background-color: transparent;
.sub-nav{
    @include sizes(auto, auto);
    .mobile {
        display: none;
    }
    .logo {
        @include sizes(100px, auto);
    }
    .margin-top {
        margin-top: 28px;
    }
    .nav-link {
        font-size: map-get($font-sizes, small);
        &:hover {
            color: $violeta;
        }
    }
}
}

/* HEADER */
.header {
    @include sizes(auto, 100%);
    padding-bottom: 100px;
    h1 {
        color: $blanco;
        font-size: map-get($font-sizes, large);
        font-weight: bolder;
    }
    h2 {
        color: $violeta;
        animation: fadeInLeft;
        animation-duration: 2s;
    }
}

/* FOOTER */
.footer {
    section {
        color: $blanco;
        h3 {
            font-size: map-get($font-sizes, medium);
        }
        p {
            margin: 0;
        }
    }
    ul {
        a {
            color: $blanco;
            &:hover {
                color: $violeta;
            }
        }
        .rrss {
            @include sizes(25px, auto);
        }
    }

}

