.galeria {
    div {
        @include sizes(350px, 350px);
        background-position: center;
        background-size: cover;
        &:hover {
            border: 5px solid $blanco;
        }
    }
}

/* Barbería */
@for $i from 1 through 12 {
    .barberia-#{$i} {
        background-image: url(../imagenes/barberia#{$i}.jpg);
    }
}

/* Tatuajes */
@for $e from 1 through 12 {
    .tatuajes-#{$e} {
        background-image: url(../imagenes/tattoo#{$e}.png);
    }
}
